.footer
    .container
        .subscripe.text-center
            h2.mb-4 Subscripe To Newsletter 
            p.mb-4.w-75.mx-auto Subscribe to newsletter to be the first who receive latest news about sales, promotions and products.
            div.input-group.justify-content-center.mx-auto.d-sm-flex.d-block
                input(type="text" placeholder="Enter your e-mail here")
                button.text-uppercase Subscribe
        .border-footer
    .bottom.row.g-0.align-items-center
        .links.col-lg.d-flex.align-items-center.justify-content-center
            a.logo(href='index.html') D
            ul.list-unstyled.text-uppercase.mt-3.d-flex
                li.d-inline-block
                    a(href='clothes.html') Clothes
                li.d-inline-block
                    a(href='footwear.html') Footwear
                li.d-inline-block
                    a(href='accessories.html') Accessories
        span.col.text-lg-end.text-center.mt-3.mt-lg-0 &copy; 2021 Deuce Store. All right reserved.        