//-define my Brands
-const brands = {}
- brands.first = {link: "img/homepage/brands/th.png"}
- brands.sec = {link: "img/homepage/brands/tnf.png"}
- brands.third = {link: "img/homepage/brands/nike.png"}
- brands.fourth = {link: "img/homepage/brands/ck.png"}
- brands.fifth = {link: "img/homepage/brands/zara.png"}
- brands.sexth = {link: "img/homepage/brands/hb.png"}