//-define my Shop box
-const shops = {}
- shops.first = {title: "Clothes", link: "img/homepage/shop/clothes.png", discount: "60%"}
- shops.sec = {title: "Footwear", link: "img/homepage/shop/footwear.png"}
- shops.third = {title: "Accessories", link: "img/homepage/shop/accessories.png" }