//-define my product categories
-const categories = {}

//-define my categories for clothes
- categories.clothes = {}
- categories.clothes.tShirt= ['T-Shirts', '75']
- categories.clothes.shirt= ['Shirts', '32']
- categories.clothes.jacket= ['Jackets', '27']
- categories.clothes.jeans= ['Jeans', '64']
- categories.clothes.sweetShirt= ['Sweatshirts', '39']
- categories.clothes.short= ['Shorts', '46']

//-define my categories for Footwear
- categories.footwear = {}
- categories.footwear.athletic= ['Athletic', '55']
- categories.footwear.sneaker= ['Sneakers', '22']
- categories.footwear.boot= ['Boots', '26']
- categories.footwear.formal= ['Formal', '84']
- categories.footwear.slipper= ['Slippers', '19']

//-define my categories for Accessories
- categories.accessories = {}
- categories.accessories.watches= ['Shawls', '85']
- categories.accessories.bags= ['Bags', '25']
- categories.accessories.perfume= ['Perfumes', '76']
- categories.accessories.hat= ['Hats', '42']
- categories.accessories.tie= ['Ties', '19']
