//- *** My Cover Silders ***
- var clothesCover = {first: "1", sec: "2", third: "3"}
- var footwearCover = {first: "1", sec: "2", third: "3"}
- var accessoriesCover = {first: "1", sec: "2", third: "3"}
- var homepageCover = {first: "1", sec: "2", third: "3", fourth: "4"}