//- *** My Accessories ***
-const accessories = {}
- accessories.first = {title:'Boy Perfume 100 ml', code: 'GI6J4EGLP3', price: '22', short:'PR', image: {first:'1'}}
- accessories.sec = {title:'Letter Printed Backpack', code: '8ELQWZ68RE', price: '45', short:'LP', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- accessories.third = {title:'Khaki Printed Hat', code: 'C79K549G8A', price: '21', short:'KH', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- accessories.fourth = {title:'Knitwear Patterned Shawl', code: '2H5QHKSVLM', price: '32', short:'KS', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
