//- *** My Clothes ***
-const clothes = {}
- clothes.first = {title:'Los Angeles Clippers T-Shirt', code: 'GI6J4EGLP3', price: '49', short:'LA', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.sec = {title:'Stripe Detailed T-Shirt', code: '8ELQWZ68RE', price: '43', short:'SD', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.third = {title:'Long Sleeve Oversize Shirt', code: 'C79K549G8A', price: '57', short:'OZ', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.fourth = {title:'Long Sleeve Lumberjack Shirt', code: '2H5QHKSVLM', price: '53', short:'LJ', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.fifth = {title:'Ultra Skinny Fit Jeans', code: 'L2X8BOWJHE', price: '58', short:'UK', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.sixth = {title:'Carrot Fit Jeans', code: 'JBQWTSDWX5', price: '56', short:'CJ', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.seventh = {title:'Regular Fit Basic Bermuda', code: 'TFE79R7KI6', price: '39', short:'CB', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- clothes.eighth = {title:'Slim Fit Mesh Shorts', code: 'L4QZ8FTC9H', price: '37', short:'MD', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
