//- *** My Footwears ***
-const footwears = {}
- footwears.first = {title:'Brown Men Shoes', code: 'GI6J4EGLP3', price: '49', short:'BR', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- footwears.sec = {title:'Black Men Shoes', code: '8ELQWZ68RE', price: '43', short:'BL', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- footwears.third = {title:'Navy Men Shoes', code: 'C79K549G8A', price: '57', short:'NA', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- footwears.fourth = {title:'Brown Lace-up Boots', code: '2H5QHKSVLM', price: '53', short:'BRL', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- footwears.fifth = {title:'Black Lace-up Boots', code: 'L2X8BOWJHE', price: '58', short:'BLL', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
- footwears.sixth = {title:'Black Men Sneakers', code: 'JBQWTSDWX5', price: '56', short:'BS', image: {first:'1', sec:'2', third: '3', fourth:'4'}}
