nav.navbar-up.container
    a.nav-logo(href='index.html')
        span D
        |euce
    .nav-parent
        ul.nav-menu.list-unstyled.text-uppercase
            li.nav-item(class=`${pageTitle == "Clothes" ? "active" : ""}`)
                a.nav-link(href='clothes.html') Clothes
            li.nav-item(class=`${pageTitle == "Footwear" ? "active" : ""}`)
                a.nav-link(href='footwear.html') Footwear
            li.nav-item(class=`${pageTitle == "Accessories" ? "active" : ""}`)
                a.nav-link(href='accessories.html') Accessories
    .bag.ms-lg-5.ms-auto
        i.fas.fa-shopping-bag
    .bars.ms-4
        span.bar
        span.bar
        span.bar                        
                